html,
body {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  height: 100%;
}

html {
  --font-color: #313335;
  --p-color: #6e7680;
  --light-back: #f0f4f7;
  --hover-background: #e2eaf0;
  --green-border: #6bca3e;
  --error-background: rgba(218, 67, 83, 0.1);
  --error-border: rgba(218, 67, 83, 0.4);
  --placeholder-color: #a8adb2;
  --violet-color: #902156;
  --hover-violet: #ae2968;
  --li-font-color: #a8b3c2;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  max-width: 1440px;
  min-height: 798px;
  flex-grow: 1;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.woff");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("./fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("./fonts/Gilroy-Bold.woff");
  src: local("Gilroy ExtraBold"), local("Gilroy-Bold"), url("./fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--p-color);
  line-height: 24px;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-family: "Gilroy-bold", sans-serif;
  color: var(--font-color);
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  flex-shrink: 1;
  overflow: hidden;
}

.header-1-container {
  margin: 0;
  display: flex;
  flex-basis: 470px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10.7%;
  padding-top: 11%;
}

.logo-flex {
  margin: 0;
  display: flex;
  align-items: center;
}

.candy {
  margin-left: 27px;
}

.text1 {
  margin-top: 12px;
  margin-bottom: 30px;
  flex-direction: column;
  line-height: 24px;
  max-width: 437px;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--light-back);
  width: 100%;
  margin: 0;
}

.mail-form {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  width: 100%;
}

.mail-form label {
  font-family: "Gilroy-bold", serif;
  font-size: 18px;
  color: var(--font-color);
  font-weight: 900;
}

.container-mail {
  position: relative;
  margin-top: 18px;
}

.input-email {
  background: var(--light-back);
  border-radius: 30px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
}

.input-email::placeholder {
  color: var(--placeholder-color);
  letter-spacing: 0.2px;
}

.input-email:hover {
  background: var(--hover-background);
}

.input-email:focus {
  background: none;
  border: 2px solid var(--hover-background);
  box-sizing: border-box;
  border-radius: 30px;
}

.input-email:focus:invalid {
  border: 2px solid var(--error-border);
  background: var(--error-background);
  color: var(--error-border);
}

.input-email:focus:invalid + .button-submit {
  border: 2px solid var(--error-border);
  color: var(--error-border);
}

.input-email:focus:valid {
  border: 2px solid var(--green-border);
}

.button-submit {
  position: absolute;
  right: 10px;
  top: 8px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid var(--hover-background);
  cursor: pointer;
  outline: none;
  background: white url(./img/button.svg) no-repeat center;
}

.button-submit:hover {
  border: 2px solid var(--green-border);
}

.button-submit:focus {
  background: var(--green-border) url(img/button-active.svg) no-repeat center;
}

.header-2-container {
  display: flex;
  flex-direction: column;
  flex-basis: 470px;
  padding-top: 7.4%;
  padding-right: 13%;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0;
}

.a-list {
  background-color: var(--light-back);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  border: 2px solid transparent;
}

.a-list:hover {
  background-color: var(--hover-background);
  transition: 0.2s;
}

.a-list:focus {
  border: 2px solid var(--green-border);
  transition: 0.1s;
  box-sizing: border-box;
  background-color: white;
}

.java-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-top: 12px;
}

.java-hesh,
.java-title,
.description-java {
  max-width: 430px;
  padding-left: 20px;
}

.java-hesh {
  display: flex;
  text-transform: uppercase;
  font-family: "Gilroy-bold", serif;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: var(--violet-color);
  justify-content: space-between;
  margin-top: 17px;
}

.dot {
  margin-top: 5px;
}

.java-title {
  font-family: "Gilroy-bold", sans-serif;
  font-size: 18px;
  color: var(--font-color);
  margin: 0;
  margin-top: -5px;
  letter-spacing: 0.05em;
}

.description-java {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--p-color);
  margin-top: 11px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.button-link {
  background: white;
  border: 2px solid var(--hover-background);
  border-radius: 22px;
  font-family: "Gilroy-bold", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  width: 76px;
  height: 28px;
  outline: none;
  cursor: pointer;
}

.button-link:focus {
  border: 2px solid var(--green-border);
}

.button-link:hover {
  background: var(--hover-background);
}

.all-candy {
  background: var(--violet-color);
  border-radius: 22px;
  width: 100%;
  height: 44px;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  font-family: "Gilroy-bold", sans-serif;
  margin-top: 24px;
  cursor: pointer;
}

.all-candy:hover {
  background: var(--hover-violet);
}

footer {
  padding: 270px 0 0 20px;
  background-color: var(--font-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: 100%;
  height: 100%;
  background-color: var(--font-color);
}

.container-2 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.copyright {
  display: flex;
  height: 30px;
  width: 500px;
  align-items: center;
  margin-right: 160px;
}

.footer-copy {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--p-color);
  font-size: 11px;
}

.left-lists {
  display: flex;
  flex-basis: 780px;
  justify-content: space-evenly;
  margin-left: 20px;
}

.stats {
  margin-top: 4px;
  list-style: none;
  font-family: "Gilroy-bold", sans-serif;
  font-size: 14px;
  color: white;
}

.stats li {
  margin-top: 15px;
}

.a-stats {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--li-font-color);
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-info {
  display: flex;
  flex-basis: 660px;
  justify-content: space-evenly;
  margin-right: 155px;
}


.footer-green {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--green-border);
  font-size: 12px;
  box-sizing: border-box;
  line-height: 10px;

}
